body {
  background-color: #aaa;
  font-family: helvetica;
}
h4 {
  color: red;
}
label{
  font-size: .8em;
  font-weight: bold
}
.photo-img {
  height: 350px;
  width: auto;
}
.home-link {
  float: right;
}
.batch-link {
  margin: 10px;
  display: block;
}
#submit {
  background-color: red;
}